<template>
    <div class="home">
        <div class="page-container" >
    <header id="app-header">
      <div>
          <nav id="app-navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <router-link :to="{path: '/'}" class="navbar-brand" title="Home">
          <!-- <i v-if="shouldShowNavBarBackIcon" class="fa mx-2 fa-arrow-left mr-2" style="color: #45d4ff"></i> -->
          <p class="logo-brand head font-weight-bold m-0">DoTheDo</p>
        </router-link>
        <div
        class="navbar-toggler p-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          style="border-radius: 24px"
          aria-label="Toggle navigation">
            <!-- <b-avatar variant="info" :text="userInfo.firstname.charAt(0) + userInfo.othernames.charAt(0) + userInfo.lastname.charAt(0)"></b-avatar> -->
            <vue-initials-img name="Dadson Papa" style="width: 30px; height: 30px; border-radius: 50%"/>

        </div>
        <div class="collapse navbar-collapse text-left" id="navbarSupportedContent">
          <div class="ml-auto">
               <ul class="navbar-nav ">
              <li class="nav-item active py-1">
              <router-link class="router-link"
              data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
               to="/" exact>HOME</router-link>
            </li>
            <li class="nav-item py-1 mx-2">
              <router-link class="router-link" 
              data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
              to="/profile" exact>PROFILE</router-link>
            </li>
            <li class="nav-item py-1 mx-2">
              <a class="router-link" :href="path">SUPPORT</a>
            </li>
             <li class="nav-item py-1 mx-2">
              <a class="router-link"
              data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
           href="javascript:void(0);" @click="logout()">LOG OUT</a>
            </li>
          </ul>
          </div>
        </div>
      </nav>
      </div>
          
    </header>
            <div class="mt-4 mb-5 py-3">
            <transition appear name="custom-classes-transition" enter-active-class="animated fadeIn">
                <router-view/>
            </transition>
            </div>
        </div>
        <Footer class="fixed-bottom"/>
    </div>
</template>
 
<script>
import Footer from '@/components/Footer'
import {mapState} from 'vuex'
    export default {
        components:{
          Footer
        },
        data(){
            return{
                // isNavOpen: false,
                path: "https://api.whatsapp.com/send?phone=233540736077",
            }
        },
        methods:{
            logout(){
            this.$store.dispatch('register/unSetUserCode')
            this.$store.dispatch('unSetToken')
            this.$router.push('/login')
            },
            // openNav() {
            //     this.isNavOpen = !this.isNavOpen
            //     if(this.isNavOpen == true){
            //         document.getElementById("mySidenav").style.width = "250px"
            //     } else{
            //         document.getElementById("mySidenav").style.width = "0";
            //     }
            //     },
        // closeNav() {
        //     document.getElementById("mySidenav").style.width = "0";
        // },
        },
        computed:{
    // ...mapState({
    //        userInfo: (state) => state.register.userInfo,

    //    }),
  },
    }
</script>

<style lang="scss" scoped>
  .head{
  font-weight: bold;
        // text-transform: uppercase;
	background: linear-gradient(to right, rgb(4, 238, 250) 18%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
  .router-link{
    color: rgb(92, 91, 91);
    .fa::before {
         font-size: 20px;
     }
  }
.router-link-exact-active{
    color: rgb(0, 0, 0);
  font-weight: bold;
       padding-top: 7px;
       padding-bottom: 0px;
     .fa::before {
         font-size: 25px;
     }
    }
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>