<template>
    <div>
        
        <div v-if="list">
        <b-modal id="modal-1" title="Edit Task">
              <b-spinner v-if="loading" variant="primary" type="grow" label="Spinning"></b-spinner>
        <b-form-input class="shadow my-2" v-model="newitem.title" placeholder="Add task"></b-form-input>
        <template v-slot:modal-footer="{cancel}">
      <b-button size="sm" variant="secondary" @click="cancel()">
        Cancel
      </b-button>
      <b-button size="sm" variant="info" @click="patchItem()" :disabled="loading">
                      <i
                        v-if="loading"
                        :class="['fa', 'fa-spin', 'fa-spinner', loading?'loading-width':'']"
                      ></i>
                      <template v-else>Edit</template>
      </b-button>
    </template>
         </b-modal>
       <div v-for="(value, name,index) in list" :key="index">
				<div
	class="alert text-left alert-light fade show text-dark pt-1 mt-2 pb-0 pl-2"
	role="alert"
	style="font-size: 12px" :style="`${name == 'Today' ? 'border-left: 5px solid teal;' : 'border-left: 5px solid silver;'}`">
		<b> {{name}} </b>
	</div>
    <div class="row align-items-center m-0" >
        <div class="col-md-3 col-lg-6 col-sm-12 mb-3" v-for="(hist, i) in value" :key="i">
          <div class="card shadow-sm" style="border: 0px; border-radius: 12px">
        <div class="row m-0 p-2 align-items-center">
          <!-- <i class="fa fa-calendar"></i> -->
        <div class="text-left p-0 col-8 ">
              <h6 class="m-0 text-dark"><b>{{hist.title}}</b></h6>
          <small class="text-muted">{{hist.created_at | moment("ddd, hA") }}</small>
        </div>
        <div class=" mr-2 p-0 col-1" :class="`${hist.completed == false ? 'text-muted' : 'text-success'}`" @click.prevent="completeItem(hist)">
            <i class="fa fa-check-circle"></i>
        </div>
        <div class="text-info mr-2 p-0 col-1" @click="edit(hist)">
            <i class="fa fa-edit"></i>
        </div>
        <div class="text-danger p-0 col-1" @click.prevent="deleteItem(hist)">
            <i class="fa fa-trash-alt"></i>
        </div>
        </div>
      </div>
        </div>
      </div>
       </div>
    </div>
    <div class="text-center" style="font-size: 50px" v-else>
            😌
            <div>No task</div>
        </div>
    </div>
</template>
<script>
import http from '@/network/Base.js' 
import moment from 'moment'
export default {
    props:['list'],
  data() {
    return {
        loading: false,
      newitem:{
          title: ''
      },
    sortByStatus:false,
    todo: [
      { id:1, label: "Learn VueJs", done: true },
      { id:2, label: "Code a todo list", done: false },
      { id:3, label: "Learn something else", done: false }
    ]
    }
  },
  methods:{
      
    edit(item){
        this.newitem = item
        this.$bvModal.show('modal-1')
    },
    deleteItem(item) {
        this.loading = true
            http().delete(`/todo/${item.id}`)
            .then(({data}) => {
                this.list[item.timing].splice(item.id, 1);
                this.$snotify.error('Task successfully deleted') 
            })
            .catch(error => {
                this.loading = false
              // console.log(error)
                this.$snotify.error('Sorry, cannot delete task') 
            })
            .finally(() => {
              this.loading = false
            })   
    },
    completeItem(item) {
        this.loading = true
        let active = false
        if(item.completed == false){
            active = true
        } else {
            active = false
        }
            http().patch(`/todo/${item.id}`, {
                title: item.title,
                completed: active
            })
            .then(({data}) => {
                this.list[item.timing].splice(item.id, 1);
                this.$snotify.error('Task successfully deleted') 
            })
            .catch(error => {
                this.loading = false
              // console.log(error)
                this.$snotify.error('Sorry, cannot delete task') 
            })
            .finally(() => {
              this.loading = false
            })   
    },
    patchItem() {
        this.loading = true
            http().patch(`/todo/${this.newitem.id}`,{
                title: this.newitem.title,
                completed: false
            })
            .then(({data}) => {
                this.$snotify.error('Task successfully deleted') 
            })
            .catch(error => {
                this.loading = false
              // console.log(error)
                this.$snotify.error('Sorry, cannot delete task') 
            })
            .finally(() => {
              this.loading = false
            })   
    },
   
  }
}
</script>

<style lang="scss" scoped>
    @keyframes strikeitem {
	to { width:calc(100% + 1rem); }
}

#todolist {
	margin:4rem auto;
	padding:2rem 3rem 3rem;
	max-width:500px;
	background:#FF6666;
	color:#FFF;
	box-shadow:-20px -20px 0px 0px rgba(100,100,100,.1);
}
#todolist h1 {
    /*text-align:center;*/
    font-weight:normal;
    font-size:2.6rem;
    letter-spacing:0.05em;
    border-bottom:1px solid rgba(255,255,255,.3); 
}
#todolist h1 span {
	display:block;
	font-size:0.8rem;
	margin-bottom:0.7rem;
	margin-left:3px;
	margin-top:0.2rem;   
}

#todolist .emptylist {
	margin-top:2.6rem;
	text-align:center;
	letter-spacing:.05em;
	font-style:italic;
	opacity:0.8;
	
}
#todolist ul {
	margin-top:2.6rem;
	list-style:none;
}
#todolist .todolist-move {
	transition: transform 1s;
}
#todolist li {
	display:flex;
	margin:0 -3rem 4px;
	padding:1.1rem 3rem;
	justify-content:space-between;
	align-items:center;
	background:rgba(255,255,255,0.1);
}

#todolist .actions {
	flex-shrink:0;
	padding-left:0.7em;
}
#todolist .label {
	position:relative;
	transition:opacity .2s linear;
}
#todolist .done .label {
	opacity:.6;
}
#todolist .done .label:before {
	content:'';
	position:absolute;
	top:50%;
	left:-.5rem;
	display:block;
	width:0%;
	height:1px;
	background:#FFF;
	animation:strikeitem .3s ease-out 0s forwards;
}
#todolist .btn-picto {
	border:none;
	background:none;
	-webkit-appearance:none;
	cursor:pointer;
	color:#FFF;
}


/* FORM */
form {
	margin-top:3rem;
	display:flex;
	flex-wrap:wrap;
}
form label {
	min-width:100%;
	margin-bottom:.5rem;
	font-size:1.3rem;
}
form input {
	flex-grow:1;
	border:none;
	background:#f7f1f1;
	padding:0 1.5em;
	font-size:initial;
}
form button {
	padding:0 1.3rem;
	border:none;
	background:#FF6666;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	border:1px solid rgba(255,255,255,.3);
	margin-left:5px;
	cursor:pointer;
	transition:background .2s ease-out;
}
form button:hover {
	background:#FF5E5E;
}
form input, 
form button {
	font-family:'Quicksand', sans-serif;
	height:3rem;
}


/* TOOGLE COMPONENT */
.togglebutton-wrapper {
	margin-top:1em;
}
.togglebutton-wrapper label {
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.togglebutton-wrapper input {
	position:absolute;
    left:-9999px;
}
.togglebutton-wrapper .togglebutton-label {
	font-size:.8rem;
	letter-spacing:.1em
}
.togglebutton-wrapper .tooglebutton-box {
	position:relative;
	display:block;
	margin-left:0.6em;
	width:38px;
	height:22px;
	background:white;
	/*border:1px solid black;*/
	border-radius:999px;
	cursor:pointer;
}
.togglebutton-wrapper .tooglebutton-box:before {
	content:'';
	position:absolute;
	top:2px; left:2px;
	display:block;
	width:18px; height:18px;
	/*border:1px solid #FF6666;*/
	border-radius:50%;
	background:#FF6666;
	opacity:0.7;
	transition:	all .2s ease-in-out;
}
.togglebutton-wrapper.togglebutton-focus .tooglebutton-box {
	box-shadow:0px 0px 0px 3px rgba(0,0,0,0.1);
}
.togglebutton-wrapper.togglebutton-checked .tooglebutton-box:before {
	left:calc(100% - 4px - 16px);
	opacity:1;
}
</style>