<template>
  <div class="container mb-5 pb-5">
    <div class="row text-left my-5">
        <div class="col">
          <span style="font-size: 1rem">{{ getGreeting }}</span>
          <br />
          <b
            style="font-size:1.3rem;text-overflow:ellipsis;width:100%;white-space:nowrap;overflow:hidden;display:block"
          >Dadson,</b>
          <span style="font-size: 1rem">{{ getTimeOfDay }}! what would you like to do today?</span>
        </div>
      </div>
      <div class="row align-items-center m-0">
        <div class="col-md-4 col-lg-3 col-sm-6 col-6 mb-3">
        <router-link to="/todo">
          <div class="card shadow-sm" style="border: 0px; border-radius: 12px">
        <div class="text-center p-3">
          <img src="@/assets/list.svg" class="m-2" width="40px" alt="">
          <!-- <i class="fa fa-calendar"></i> -->
          <h6 class="m-0 text-dark"><b>To do</b></h6>
          <small class="text-muted">Acitve</small>
          <div>
            <small >4 Items</small>
          </div>
        </div>
      </div>
        </router-link>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-6 mb-3">
        <router-link to="/calendar">
          <div class="card shadow-sm" style="border: 0px; border-radius: 12px">
        <div class="text-center p-3">
          <img src="@/assets/google-calendar.svg" class="m-2" width="40px" alt="">
          <!-- <i class="fa fa-calendar"></i> -->
          <h6 class="m-0"><b>Calendar</b></h6>
          <small class="text-muted">Today's date</small>
          <div>
            <small class="text-info">2 Events</small>
          </div>
        </div>
      </div>
        </router-link>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-6 mb-3">
        <router-link to="/activity">
          <div class="card shadow-sm" style="border: 0px; border-radius: 12px">
        <div class="text-center p-3">
          <img src="@/assets/alert.svg" class="m-2" width="40px" alt="">
          <!-- <i class="fa fa-calendar"></i> -->
          <h6 class="m-0"><b>Activity</b></h6>
          <small class="text-muted">You completed...</small>
        </div>
      </div>
        </router-link>
        </div>

        <div class="col-md-4 col-lg-3 col-sm-6 col-6 mb-3">
        <router-link to="/location">
          <div class="card shadow-sm" style="border: 0px; border-radius: 12px">
        <div class="text-center p-3">
          <img src="@/assets/maps-and-location.svg" class="m-2" width="40px" alt="">
          <!-- <i class="fa fa-calendar"></i> -->
          <h6 class="m-0"><b>Location</b></h6>
          <small class="text-muted">Left the office...</small>
        </div>
      </div>
        </router-link>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-6 mb-3">
        <router-link to="/groceries">
          <div class="card shadow-sm" style="border: 0px; border-radius: 12px">
        <div class="text-center p-3">
          <img src="@/assets/groceries.svg" class="m-2" width="40px" alt="">
          <!-- <i class="fa fa-calendar"></i> -->
          <h6 class="m-0"><b>Groceries</b></h6>
          <small class="text-muted">Tomatoes,...</small>
          <div>
            <small class="text-info">4 Items</small>
          </div>
        </div>
      </div>
        </router-link>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-6 mb-3">
        <router-link to="/settings">
          <div class="card shadow-sm" style="border: 0px; border-radius: 12px">
        <div class="text-center p-3">
          <img src="@/assets/settings.svg" class="m-2" width="40px" alt="">
          <!-- <i class="fa fa-calendar"></i> -->
          <h6 class="m-0"><b>Settings</b></h6>
          <small class="text-muted">Today's date</small>
          <div>
            <small class="text-info">2 Events</small>
          </div>
        </div>
      </div>
        </router-link>
        </div>
      </div>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
  computed:{
    getGreeting() {
      const greeting = [
        "Ola",
        "Hello",
        "Hi",
        "Welcome",
        "Howdy",
        "Good to see you"
      ];
      return greeting[Math.floor(Math.random() * greeting.length)];
    },
    getTimeOfDay() {
      const hr = new Date().getHours();
      if (hr < 12) return "Morning";
      else if (hr < 17) return "Afternoon";
      else return "Evening";
    },

  }
}
</script>

<style scoped>
  
</style>
