<template>
    <div class="container">
      <div class="text-left mt-4">
        <button type="button" @click="goBack()" class="loginBtn text-left px-3"><i class="fa fa-arrow-left px-1"></i> Back
          </button>
      </div>
      <b-overlay :show="loading" spinner-variant="primary"
      spinner-type="grow"
      spinner-small no-wrap>
           <div class="mt-2">
             <div class="scrolling-wrapper">
          <div class="bean">
            <div class="card1" style="border-radius: 24px; width: 20rem">
                <div class="card-counter secondary">
                 
              <i class="fa icon fa-tasks"></i>
                <span class="count-numbers text-right">{{this.todos.length || 0}}</span>
                <small class="count-name">All</small>
            </div>
          </div>
          </div>
          <div class="bean">
            <div class="card1" style="border-radius: 24px; width: 20rem">
                <div class="card-counter success">
                 
              <i class="fa icon fa-tags"></i>
                <span class="count-numbers text-right">{{listByNot.length || 0}}</span>
                <small class="count-name">Active</small>
            </div>
          </div>
          </div>
          <div class="bean">
            <div class="card1" style="border-radius: 24px; width: 20rem">
                <div class="card-counter danger">
                 
              <i class="fa icon fa-calendar-check"></i>
                <span class="count-numbers text-right">{{listByDone.length || 0}}</span>
                <small class="count-name">Completed</small>
            </div>
          </div>
          </div>
        </div>
           </div>
           <div>
             <button type="button" @click="getTodo()" class="refBtn"> <i
                        v-if="loading"
                        :class="['fa', 'fa-spin', 'fa-spinner', loading?'loading-width':'']"
                      ></i>
                      <template v-else><i class="fa fa-sync-alt"></i></template>
          </button>
             <!-- {{todoByDone}} -->
             <div class="text-center w-100 my-2">
               <b-form-input class="shadow my-2" v-model="newTodo" placeholder="Add task" @keyup.enter="addItem"></b-form-input>
            <div class="row m-0 justify-content-center py-2">
  
                <div class="col py-2 text-center" @click="type = 'total'"><h5 :style="`${type == 'total' ? 'border-bottom: .2rem solid silver' : ''}`">Total</h5></div>
                <div class="col py-2 text-center" @click="type = 'active'"><h5 :style="`${type == 'active' ? 'border-bottom: .2rem solid #bfffbfd9' : ''}`">Active</h5></div>
                <div class="col py-2 text-center" @click="type = 'completed'"><h5 :style="`${type == 'completed' ? 'border-bottom: .2rem solid #ffb7b7e3' : ''}`">Completed</h5></div>
            </div>
        </div>
        <!-- <component :is="type" :list="listed"></component> -->
        <total v-if="type == 'total'" :list="listed"/>
        <active v-if="type == 'active'" :list="todoByNot"/>
        <completed v-if="type == 'completed'" :list="todoByDone"/>
           </div>
      </b-overlay>
    </div>
</template>

<script>
import http from '@/network/Base.js' 
import {mapState} from 'vuex'
import moment from 'moment'
import _ from 'lodash'
import total from '@/components/allTodos'
import active from '@/components/activeTodos'
import completed from '@/components/completeTodos'

export default {
    data(){
    return{
      type: 'total',
      todos: [],
      listed: {},
      newTodo: '',
      loading: false,
      active: [],
      completed: []
    }
  },
  components:{
    total,
    active,
    completed
  },
  methods:{
    goBack(){
      this.$router.push('/')
    },
    addItem() {
      this.loading = true
            http().post(`/todo`,{
                title: this.newTodo,
                completed: false
            })
            .then(({data}) => {
                this.$snotify.error('Task successfully added') 
                this.getTodo()
                this.newTodo = ''
                this.loading = false
            })
            .catch(error => {
                this.loading = false
              // console.log(error)
                this.$snotify.error('Sorry, cannot get add task') 
            })
            .finally(() => {
              this.loading = false
            })   

    },
    getTodo(){

      this.loading = true
            http().get(`/todos`)
            .then(({data}) => {

				this.todos = data.reverse()
				this.todos.forEach((el, i) => {
          if(el.completed == 0){
            this.active.push(el)
          } else {
            this.completed.push(el)
          }
					let returnStr;
					const date = moment(el.created_at);
					const today = moment().endOf("day");
					const yesterday = moment()
						.add(-1, "day")
						.endOf("day");
					if (date <= today && date >= today.startOf("day")){
						el.timing = "Today"}
						// returnStr = "Today, " + date.format("HH:mm");
					else if (date <= yesterday && date >= yesterday.startOf("day")){
						// returnStr = "Yesterday, " + date.format("HH:mm");
						el.timing = "Yesterday"}
					else {el.timing = date.format("ddd, Do MMM YYYY");}
					// return returnStr === "Invalid date" ? dateTimeString : returnStr;
				})
				 this.listed = _.groupBy(this.todos, function(his) {
					return his.timing;
					});
					console.log(this.listed)
                this.loading = false
            })
            .catch(error => {
                this.loading = false
              // console.log(error)
                this.$snotify.error('Sorry, cannot get request todos') 
            })
            .finally(() => {
              this.loading = false
            })   
    }
  },
  created(){
    this.getTodo()
  },
   computed: {
    todoByDone() {
      let list = []
      var doneArray = this.todos.filter((item) => { if(item.completed == true){ list.push(item)} });
      let Done = _.groupBy(list, function(his) {
          return his.timing;
          });
      return Done
    },
    listByDone() {
      let list = []
      var doneArray = this.todos.filter((item) => { if(item.completed == true){ list.push(item)} });
      return list
    },
    listByNot() {
      let list = []
      var doneArray = this.todos.filter((item) => { if(item.completed == false){ list.push(item)} });
      return list
    },
    todoByNot() {
      let list = []
      var doneArray = this.todos.filter((item) => { if(item.completed == false){ list.push(item)} });
      let Not = _.groupBy(list, function(his) {
          return his.timing;
          });
      return Not
    }
  }
  
}
</script>

<style lang="scss" scoped>
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .bean {
    display: inline-block;
  }
 
}
.card-counter{
    box-shadow: 2px 2px 10px rgb(170, 168, 168);
    margin: 2px;
    padding: 12px 7px;
    background-color: #fff;
    height: 90px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #fffc9ed5;
   
  }

  .card-counter.danger{
    background-color: #ffb7b7e3;
   
  }  
.card-counter.secondary{
    background-color: #f3f3f3d2;
   
  } 
  .card-counter.success{
    background-color: #bfffbfd9;
   
  }  

  .card-counter.info{
    background-color: #cef3f8d5;
   
  }  

  .card-counter .icon{
    font-size: 5em;
    color: black;
    position: absolute;
    opacity: 0.2;
    left: 30px;
  }

  .card-counter .count-numbers{
    position: absolute;
    color: black;
    right: 24px;
    top: 24px;
    font-size: 24px;
    display: block;
    resize: horizontal;
    width: 200px;
  }

  .card-counter .count-name{
    position: absolute;
    right: 24px;
    top: 60px;
    font-style: italic;
    text-transform: capitalize;
    // opacity: 0.5;
    display: block;
    font-size: 18px;
  }

   .menuBar{
    width: 100%;
    position: fixed;
    z-index: 9999;
    font-weight: 900;
    font-size: 30px;
    color: aliceblue;
  }
  .searchBar{
   position: fixed;
    z-index: 999;
    text-align: center;
    margin-top: 55px;
    
  }
    input {
  background: rgba(255,255,255,0.4);
  border: none;
  border-radius: 24px;
  outline: none;
  width: 100%;
  
  padding: 10px;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
  .filt{
    position: fixed;
    z-index: 999;
    margin-top: 100px;
    width: 100%;
  }
  .filtCard{
    position: fixed;
    z-index: 999;
    text-align: center;
    bottom: 10px;
    width: 100%;
  }
  .head{
        /* font-weight: 600; */
        text-align: center;
        text-transform: uppercase;
	background: linear-gradient(to right, rgb(4, 238, 250) 18%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
 .card1 {
  font-family: sans-serif;
//   margin-left: 30px;
//   margin-right: 30px;
  // margin-top: 5px;
  padding: 7px;
  position: relative;
}
.card1 span{
  overflow: hidden;
  text-overflow: ellipsis;
  resize: horizontal;
}
.loginBtn{
  background: linear-gradient(270deg, rgba(9, 220, 68, 0.48) 0%, rgba(20, 178, 247, 0.48) 100%);
  // border-radius: 50%;
  border: 0px;
  // width: 45px;
  // height: 45px;
  color: white;
}
.refBtn{
  background: linear-gradient(270deg, rgba(9, 220, 68, 0.48) 0%, rgba(20, 178, 247, 0.48) 100%);
  border-radius: 50%;
  border: 0px;
  width: 30px;
  height: 30px;
  color: white;
}
</style>
